@page
@model blockbusters.Pages.ExploreModel
@{
    int columnNo = 0;
}

<header class="jumbotron">
    <h1>BlockBuster Movies</h1>
</header>

<section>        
    <div class="row">
        @foreach (var item in Model.Movie) 
        {
            if (columnNo > 0 && columnNo % 3 == 0)
            {
                @:</div><div class="row">
            }
        
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="/images/@item.ContentLocation" 
                         class="card-img-top" alt="Movie 001" width="200"/>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <a href="#" class="btn btn-primary">View Movie</a>
                    </div>
                </div>
            </div>

            columnNo++;
        }
    </div>
</section>