@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
const collection = document.getElementsByClassName("Nav-Home");
collection[0].style.color = "white";
</script>
<div>
                <div id="primary-slider" class="splide" style="height: 500px;top: 0;left: 0;width: 100%;position: absolute;">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="~/images/endgamewide.jpg"
                                ></li>
                            <li class="splide__slide"><img src="~/images/interstellarbackground.jpg"></li>
                            <li class="splide__slide">
                                
                                <img src="~/images/uncut_gems_0106202.jpg">
                                </li>
                        </ul>
                        <div style="height: 100%;margin-top: -500px;position: absolute;width: 100%;background: linear-gradient(rgba(0,0,0,0.59) 0%, rgb(13,13,13) 100%);"></div>
                    </div>
                </div>
                <div id="secondary-slider" class="splide" style="height: 500px;/*position: absolute;*/top: 0;left: 0;width: 100%;">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide row">
                                <div class="col-lg">
                                    <div class="gallery-caption"><img src="~/images/endgamelogo.webp" style="height: 88px;margin-top: -28px;">
                                        <div style="height: 28px;margin-top: 10px;">
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">Action</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">2019</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">8.4</label>
                                        </div>
                                        <p style="width: 100%;height: 300px;color: #ffffff;margin-top: -10px;"><br>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.<br></p>
                                    </div>
                                </div>
                                <a href="/Video?id=5" style="text-decoration:none;width: 100%;height: 100%;position: absolute;"></a>
                                <div class="col-lg vid-div"><iframe width="80%" height="70%" style="margin-top:100px;" src="https://www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </li>
                            
                            <li class="splide__slide row">
                                
                                <div class="col-lg">
                                    <div class="gallery-caption"><img src="assets/img/305-3057815_interstellar-interstellar-logo-png.png" style="height: 60px;">
                                        <div style="height: 28px;margin-top: 10px;">
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">Sci-Fi</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">2014</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">8.6</label>
                                        </div>
                                        <p style="width: 100%;height: 300px;color: #ffffff;margin-top: -10px;"><br>A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.<br></p>
                                    </div>
                                </div>
                                <a href="/Video?id=10" style="text-decoration:none;width: 100%;height: 100%;position: absolute;"></a>
                                <div class="col-lg vid-div"><iframe width="80%" height="70%" style="margin-top:100px;" src="https://www.youtube.com/embed/zSWdZVtXT7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </li>
                            <li class="splide__slide row">

                                <div class="col-lg">
                                    <div class="gallery-caption"><img src="~/images/uncutgemslogo.png" style="height: 60px;">
                                        <div style="height: 28px;margin-top: 10px;">
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">Comedy</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">2019</label>
                                            <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(255,255,255,0.29);">7.4</label>
                                        </div>
                                        <p style="width: 100%;height: 300px;color: #ffffff;margin-top: -10px;"><br>With his debts mounting and angry collectors closing in, a fast-talking New York City jeweler risks everything in hope of staying afloat and alive.<br></p>
                                    </div>
                                </div>
                                <a href="/Video?id=2" style="text-decoration:none;width: 100%;height: 100%;position: absolute;"></a>
                                <div class="col-lg vid-div"><iframe width="80%" height="70%" style="margin-top:100px;" src="https://www.youtube.com/embed/vTfJp2Ts9X8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p id="NavText-2" class="col" style="color: rgb(255,255,255);font-size: 24px;margin-top: 28px;margin-bottom: 29px;">Recommended for you</p>
<div id="primary-slider3" class="splide" style="margin-bottom: 35px;">
                <div class="splide__track rounded-slider" style="margin-left: -3px;">
                    <ul class="splide__list">
<li class="splide__slide" style="width: 300px;height: 200px;">
    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=5">
 <div class="thumbnail-div"><img class="thumbnail-image" src="/images/endgame.jpg" >
     <div class="thumbnail-container">
         <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Avengers: Endgame</p>
         <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
             <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label></div>
     </div>
 </div>
</a></li>
                                                               <li class="splide__slide" style="width: 300px;height: 200px;">
                                                                <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=10">
                                                             <div class="thumbnail-div"><img class="thumbnail-image" src="/images/interstellar.jpg" >
                                                                 <div class="thumbnail-container">
                                                                     <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Interstellar</p>
                                                                     <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2014</label>
                                                                         <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.6</label></div>
                                                                 </div>
                                                             </div>
                                                         </a></li>

                                                         <li class="splide__slide" style="width: 300px;height: 200px;">
                                                            <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=1">
                                                         <div class="thumbnail-div"><img class="thumbnail-image" src="/images/insidious.jpg" >
                                                             <div class="thumbnail-container">
                                                                 <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Insidious</p>
                                                                 <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2011</label>
                                                                     <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">6.8</label></div>
                                                             </div>
                                                         </div>
                                                     </a></li>



                                                     <li class="splide__slide" style="width: 300px;height: 200px;">
                                                        <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=9">
                                                     <div class="thumbnail-div"><img class="thumbnail-image" src="/images/azkaban.jpg" >
                                                         <div class="thumbnail-container" style="margin-top: -104px;">
                                                             <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Harry Potter and the Prisoner of Azkaban</p>
                                                             <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2004</label>
                                                                 <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.9</label></div>
                                                         </div>
                                                     </div>
                                                 </a></li>

                                                 <li class="splide__slide" style="width: 300px;height: 200px;">
                                                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=2">
                                                 <div class="thumbnail-div"><img class="thumbnail-image" src="/images/uncutgems.jpg" >
                                                     <div class="thumbnail-container">
                                                         <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Uncut Gems</p>
                                                         <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                                             <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.4</label></div>
                                                     </div>
                                                 </div>
                                             </a></li>

                                             <li class="splide__slide" style="width: 300px;height: 200px;">
                                                <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=4">
                                             <div class="thumbnail-div"><img class="thumbnail-image" src="/images/pulp fiction.jpg" >
                                                 <div class="thumbnail-container">
                                                     <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Pulp Fiction</p>
                                                     <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">1994</label>
                                                         <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.9</label></div>
                                                 </div>
                                             </div>
                                         </a></li>
             

                                                 <li class="splide__slide" style="width: 300px;height: 200px;">
                                                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=7">
                                                 <div class="thumbnail-div"><img class="thumbnail-image" src="/images/mahemir.jpg" >
                                                     <div class="thumbnail-container">
                                                         <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Mah E Mir</p>
                                                         <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2016</label>
                                                             <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.2</label></div>
                                                     </div>
                                                 </div>
                                             </a></li>

                                             <li class="splide__slide" style="width: 300px;height: 200px;">
                                                <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=8">
                                             <div class="thumbnail-div"><img class="thumbnail-image" src="/images/khuda.jpg" >
                                                 <div class="thumbnail-container">
                                                     <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Khuda Kay Liye</p>
                                                     <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2007</label>
                                                         <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label></div>
                                                 </div>
                                             </div>
                                         </a></li>
                     




                            <li class="splide__slide" style="width: 300px;height: 200px;">
                                <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=3">
                             <div class="thumbnail-div"><img class="thumbnail-image" src="/images/loveactually.jpg" >
                                 <div class="thumbnail-container">
                                     <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Love, Actually</p>
                                     <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2003</label>
                                         <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.6</label></div>
                                 </div>
                             </div>
                         </a></li>



                            <li class="splide__slide" style="width: 300px;height: 200px;">
                                <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=6">
                             <div class="thumbnail-div"><img class="thumbnail-image" src="/images/howls.jpg" >
                                 <div class="thumbnail-container">
                                     <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Howl&#x27;s Moving Castle</p>
                                     <div class="thumbnail-details"><label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2005</label>
                                         <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.2</label></div>
                                 </div>
                             </div>
                         </a></li>


                    </ul>
                </div>
                </div>
            <p id="NavText-12" class="col" style="color: rgb(255,255,255);font-size: 24px;margin-top: 28px;margin-bottom: 29px;">Weekly roundup</p>
<div id="primary-slider2" class="splide" style="margin-bottom: 35px;">
        <div class="splide__track rounded-slider" style="margin-left: -3px;">
            <ul class="splide__list">
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=10">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/interstellar.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Interstellar</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2014</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=6">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/howls.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Howl&#x27;s Moving Castle</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2005</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=9">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/azkaban.jpg">
                            <div class="thumbnail-container" style="margin-top: -104px;">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Harry Potter and the Prisoner of Azkaban</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2004</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=7">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/mahemir.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Mah E Mir</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2016</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=8">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/khuda.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Khuda Kay Liye</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2007</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=1">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/insidious.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Insidious</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2011</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">6.8</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=2">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/uncutgems.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Uncut Gems</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=3">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/loveactually.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Love, Actually</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2003</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=4">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/pulp fiction.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Pulp Fiction</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">1994</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=5">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/endgame.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Avengers: Endgame</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
            </div>