@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>blockbusters</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Inter%20Black.css">
    <link rel="stylesheet" href="assets/css/Inter%20Black%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Extra%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Extra%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Medium.css">
    <link rel="stylesheet" href="assets/css/Inter%20Medium%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Regular.css">
    <link rel="stylesheet" href="assets/css/Inter%20Semi%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Semi%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/iframe.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/splide.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgb(0,0,0);">

    <footer class="d-flex justify-content-center align-items-center" style="height: 100px;border-top: 1px solid rgba(50,50,50,0.67)!important;">
        <p style="font-weight: 500;color: rgb(98,98,98);font-size: 20px;font-family: 'Inter Bold';">blockbusters© 2021<br></p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/scroll_colour.js"></script>
    <script src="assets/js/search_overlay.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/splide.min.js"></script>
</body>

</html>
