@page
@model blockbusters.Pages.LibraryModel
@{
    int columnNo = 0;
}
<script>
const collection = document.getElementsByClassName("Nav-Library");
collection[0].style.color = "white";
</script>
<div style="margin: 0px;padding: 0px;padding-top: 100px;">
    <p id="NavText-2" class="col" style="color: rgb(255,255,255);font-size: 24px;margin-top: 28px;margin-bottom: 29px;">Favourite Genres</p>
    <div id="genre-slider" class="splide" style="margin-bottom: 35px;">
        <div class="splide__track rounded-slider" style="margin-left: -3px;">
            <ul class="splide__list">
                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Action" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Action</p>
                            </div>
                        </div>
                    </a>
                </li>



                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Comedy" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Comedy</p>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Mystery" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Mystery</p>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Fiction" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Fiction</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Horror" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Horror</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Romance" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Romance</p>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="SciFi" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Sci-Fi</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 95px;">
                    <a asp-page="./Search" asp-route-genreType="Thriller" class="thumbnail-link" style="text-decoration: none;">
                        <div class="thumbnail-div">
                            <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Thriller</p>
                            </div>
                        </div>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    
    <p id="NavText-12" class="col" style="color: rgb(255,255,255);font-size: 24px;margin-top: 0px;margin-bottom: 29px;">Your Movies</p>
    <div id="primary-slider2" class="splide" style="margin-bottom: 35px;">
        <div class="splide__track rounded-slider" style="margin-left: -3px;">
            <ul class="splide__list">
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=10">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/interstellar.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Interstellar</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2014</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=6">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/howls.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Howl&#x27;s Moving Castle</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2005</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=9">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/azkaban.jpg">
                            <div class="thumbnail-container" style="margin-top: -104px;">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Harry Potter and the Prisoner of Azkaban</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2004</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=7">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/mahemir.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Mah E Mir</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2016</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=8">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/khuda.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Khuda Kay Liye</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2007</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=1">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/insidious.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Insidious</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2011</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">6.8</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=2">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/uncutgems.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Uncut Gems</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=3">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/loveactually.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Love, Actually</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2003</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=4">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/pulp fiction.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Pulp Fiction</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">1994</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=5">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/endgame.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Avengers: Endgame</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p id="NavText-13" class="col" style="color: rgb(255,255,255);font-size: 24px;margin-top: 28px;margin-bottom: 29px;">Continue Watching</p>
    <div id="primary-slider3" class="splide" style="margin-bottom: 35px;">
        <div class="splide__track rounded-slider" style="margin-left: -3px;">
            <ul class="splide__list">
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=5">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/endgame.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Avengers: Endgame</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=10">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/interstellar.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Interstellar</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2014</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=1">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/insidious.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Insidious</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2011</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">6.8</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>



                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=9">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/azkaban.jpg">
                            <div class="thumbnail-container" style="margin-top: -104px;">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Harry Potter and the Prisoner of Azkaban</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2004</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=2">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/uncutgems.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Uncut Gems</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2019</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=4">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/pulp fiction.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Pulp Fiction</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">1994</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.9</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=7">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/mahemir.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Mah E Mir</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2016</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=8">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/khuda.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Khuda Kay Liye</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2007</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.4</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>





                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=3">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/loveactually.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Love, Actually</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2003</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">7.6</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>



                <li class="splide__slide" style="width: 300px;height: 200px;">
                    <a class="thumbnail-link" style="text-decoration: none;" href="/Video?id=6">
                        <div class="thumbnail-div">
                            <img class="thumbnail-image" src="/images/howls.jpg">
                            <div class="thumbnail-container">
                                <p id="NavText-26" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-shadow:0px 0px 10px black;">Howl&#x27;s Moving Castle</p>
                                <div class="thumbnail-details">
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">2005</label>
                                    <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 5px;background: rgba(0,0,0,0.8);font-size: 14px;">8.2</label>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</div>