<!DOCTYPE html>
@*<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blockbusters</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Inter%20Black.css">
    <link rel="stylesheet" href="assets/css/Inter%20Black%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Extra%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Extra%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Medium.css">
    <link rel="stylesheet" href="assets/css/Inter%20Medium%20Italic.css">
    <link rel="stylesheet" href="assets/css/Inter%20Regular.css">
    <link rel="stylesheet" href="assets/css/Inter%20Semi%20Bold.css">
    <link rel="stylesheet" href="assets/css/Inter%20Semi%20Bold%20Italic.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/iframe.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/splide.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="background: rgb(0,0,0);">
    <header>
    <nav class="navbar navbar-light navbar-expand-md fixed-top" style="padding: 0px;height: 72px;z-index: 50;background: linear-gradient(rgba(0,0,0,0.75) 3%, rgba(255,255,255,0));">
        <div class="container-fluid d-flex justify-content-between">
            <div class="d-flex justify-content-start" style="width: 15%;height: 72px;"><img class="logo" src="assets/img/logofinal.svg"></div>
            <div style="width: 70%;height: 72px;position: relative;text-align: center;">
                <div class="d-flex justify-content-center" style="position: absolute;top: 0;left: 0;width: 100%;margin-top: 19px;">
                    <a id="NavButtons" asp-page="/Index" style="height: 28px;color: rgb(255,255,255);">
                        <i class="material-icons col" id="NavIcon" style="padding: 0px;margin: auto;margin-top: 4px;width: 24px;">home</i>
                        <p id="NavText" class="col">Home</p>
                    </a>
                    <a id="NavButtons" class="row" asp-page="/Explore" style="height: 28px;color: rgba(255,255,255,0.54);text-align: center;">
                        <i class="material-icons col" id="NavIcon" style="padding: 0px;margin: auto;margin-top: 4px;width: 24px;">explore</i>
                        <p id="NavText" class="col">Explore</p>
                    </a>
                    <a id="NavButtons" class="row" asp-page="/Library" style="height: 28px;color: rgba(255,255,255,0.54);text-align: center;">
                        <i class="material-icons col" id="NavIcon" style="padding: 0px;margin: auto;margin-top: 4px;width: 24px;">video_library</i>
                        <p id="NavText" class="col">Library</p>
                    </a>
                    <a id="NavButtons" class="row" onclick="searchOn()" style="height: 28px;color: rgba(255,255,255,0.54);text-align: center;">
                        <i class="material-icons col" id="NavIconSearch" style="padding: 0px;margin: auto;margin-top: 4px;width: 24px;">search</i>
                        <p id="NavText" class="col" href="#">Search</p>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="nav-link text-dark" asp-area="" asp-page="/MyAccount">My Account</a>
                    <div>
                        Search: <input type="text" />
                    </div>
                    <partial name="_LoginPartial" />
                    </div>
            </div>
            <div class="d-flex justify-content-end" style="width: 15%;height: 72px;">
                <img src="assets/img/PXL_20210926_215906741.NIGHT.jpg" style="margin: auto;margin-right: 15px;border-radius: 81px;height: 30px;width: 30px;" onclick="userOn()">
            </div>
        </div>
    </nav>
    <div id="SearchOverlay">
        <div style="/*position: fixed;*/width: 100%;height: 72px;display: flex;justify-content: center;">
            <div class="flex-container" style="height: 54px;margin-top: auto;margin-bottom: auto;width: 800px;background: #212121;color: rgb(68,68,68);border-radius: 3px;border: 1px solid rgb(67,67,67);margin-right: 10px;margin-left: 10px;display: flex;justify-content: stretch;"><i class="material-icons" style="color: rgb(180,180,180);width: 54px;text-align: center;padding-top: 14px;cursor: pointer;" onclick="searchOff()">arrow_back</i><input type="search" style="width: 100%;background: rgba(255,255,255,0);border-style: none;color: rgb(255,255,255);font-weight: 600;padding-right: 56px;padding-left: 0px;" placeholder="Search"></div>
        </div>
        <div style="width: 100%;height: 100%;padding-right: 10px;padding-left: 10px;padding-bottom: 9px;">
            <div class="flex-container search-results" style="background: #212121;border-radius: 3px;border: 1px solid rgb(67,67,67);max-width: 800px;color: rgb(68,68,68);height: 164px;margin: auto;"></div>
        </div>
    </div>
    </header>
    <div class="content-barrier">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex justify-content-center align-items-center" style="height: 100px;border-top: 1px solid rgba(50,50,50,0.67)!important;">
        <p style="font-weight: 500;color: rgb(98,98,98);font-size: 20px;font-family: 'Inter Bold';">blockbusters© 2021<br></p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="assets/js/scroll_colour.js"></script>
    <script src="assets/js/search_overlay.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blockbusters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light 
             bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">blockbusters</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" 
                        data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Explore">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Library">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MyAccount">My Account</a>
                        </li>
                    </ul>
                    <div>
                        Search: <input type="text" />
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>
                &copy; 2021 - blockbusters - <a asp-area="" asp-page="/Privacy">Privacy</a> |
                <a asp-area="" asp-page="/People/Index">Staff Portal</a>
            </p>
        </div>
        <div>
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
